root = true

[*] #includes .flex and .bnf
end_of_line = lf #git automatically converts all line endings to lf so no need to change it
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
indent_size = 4
max_line_length = 120

[{*.bnf,*.yml,*.txt,*.md}]
indent_size = 2

[*.xml]
indent_size = unset
insert_final_newline = unset
max_line_length = unset

[*.md]
trim_trailing_whitespace = unset
max_line_length = unset

[{*.ahk,*.txt,*.properties,LICENSE,gradlew*,*.chm}]
end_of_line = unset
insert_final_newline = unset
indent_size = unset
max_line_length = unset
